
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}
body {
    width: 100%;
    margin: 0 auto;
    background: #C1C0BB;
}
.navbar-fixed-top,.container {
    width: 80%;
    margin: 0 auto;
    display: block
}
.navbar-inner {
    float: left;
    width: 100%;
}
.Logo {
    display: block;
    float: left;
    width: 125px;
}
div.navcontainer a.brand {
    background: url("../images/kd-logo.jpg") no-repeat scroll 0 10px transparent;
    height: 125px;
    margin-left: 0;
    padding: 10px;
    width: 125px;
    display: inline-block;
    float: left
}
.nav-collapse li {
    display: inline;
    list-style: none outside none;
    padding: 5px 10px;
}
.nav-collapse {
    display: inline-block;
    float: left;
    list-style: none;
}